div.container {
  padding-top: 5em;
  padding-bottom: 5em;
  min-height: 70vh;
}

footer {
  width: 100vw;
  padding: 2rem;
  border-top: 3px solid #0000ff;
  margin-top: 1em;
  background-color: #ccc;
  color: #fff;
}
